In [1]:
import pandas as pd
import numpy as np

In [141]:
June4 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/TomSox 6-4-2025- Chart (Dropdown).csv')
June4.head()

,P #,Pitcher,Unnamed: 2,Outs,#,L/R,Pitch,S/B,Zone,Result,...,Strikes.1,COUNT,Unnamed: 27,P,LOM\nOut,LOM Scored,1-2-3,2&3,0-1 R,FU IP
0,1,Gibson,NaN,0.0,1.0,L,FB,Ball,NaN,NaN,...,NaN,0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Gibson,NaN,0.0,1.0,L,FB,BIP,NaN,2B,...,NaN,1-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Gibson,NaN,0.0,1.0,R,FB,BIP,NaN,K,...,NaN,0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Gibson,NaN,0.0,1.0,R,CH,Ball,NaN,NaN,...,NaN,0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Gibson,NaN,1.0,1.0,R,FB,Strike-Take,NaN,NaN,...,1.0,1-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
June4.columns

Index(['P #', 'Pitcher', 'Unnamed: 2', 'Outs', '#', 'L/R', 'Pitch', 'S/B',
       'Zone', 'Result', 'Unnamed: 10', 'ER', 'R', 'RISP', 'Balls',
       'Unnamed: 15', 'Strikes', 'Ball', 'Strike', '1PK', 'Outs.1', 'pitch/ab',
       'pitch/IP', 'A3P', '<=15', 'Strikes.1', 'COUNT', 'Unnamed: 27', 'P',
       'LOM\nOut', 'LOM Scored', '1-2-3', '2&3', '0-1 R', 'FU IP'],
      dtype='object')

In [143]:
June4 = June4.drop(columns=['#'])
June4 = June4.drop(columns= ['Unnamed: 15'])
June4 = June4.drop(columns= ['Unnamed: 10'])
June4 = June4.drop(columns=['Unnamed: 27'])

In [144]:
June4 = June4.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})

In [145]:
June4 = June4.dropna(axis=1, how='all')

In [146]:
June4.columns

Index(['P_num', 'Pitcher', 'Outs', 'LR', 'Pitch', 'SB', 'Result', 'R', 'Balls',
       'Strikes', 'Ball', 'Strike', 'One_PK', 'Outs_1', 'pitch_ab', 'pitch_IP',
       'A3P', 'Strikes_1', 'COUNT'],
      dtype='object')

In [147]:
June4 = June4.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK'])

In [148]:
June4['Date'] = '2025-06-04'
pd.to_datetime(June4['Date'], format='%Y-%m-%d')

0     2025-06-04
1     2025-06-04
2     2025-06-04
3     2025-06-04
4     2025-06-04
         ...
245   2025-06-04
246   2025-06-04
247   2025-06-04
248   2025-06-04
249   2025-06-04
Name: Date, Length: 250, dtype: datetime64[ns]

In [149]:
June4 = June4[['Date'] + [col for col in June4.columns if col != 'Date']]

In [150]:
June4.head()

,Date,P_num,Pitcher,Outs,LR,Pitch,SB,Result,R,Balls,Strikes,pitch_ab,pitch_IP,COUNT
0,2025-06-04,1,Gibson,0.0,L,FB,Ball,NaN,NaN,0,0,1,1,0-0
1,2025-06-04,2,Gibson,0.0,L,FB,BIP,2B,NaN,1,0,1,2,1-0
2,2025-06-04,3,Gibson,0.0,R,FB,BIP,K,NaN,0,0,1,3,0-0
3,2025-06-04,4,Gibson,0.0,R,CH,Ball,NaN,NaN,0,0,1,4,0-0
4,2025-06-04,5,Gibson,1.0,R,FB,Strike-Take,NaN,NaN,1,0,1,5,1-0

In [152]:
June4Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-4-2025 - Chart.csv')
June4Velo = June4Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June4merged = pd.merge(June4, June4Velo, on='Pitcher', how='left')

In [153]:
June4merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-4-2025_merged.csv', index=False)

In [156]:
June7 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/TomSox 6-7-2025 Chart (Dropdown).csv')
June7.head()

,P #,Pitcher,Inning,Outs,#,L/R,Pitch,S/B,Zone,Result,...,Strikes.1,COUNT,Unnamed: 27,P,LOM\nOut,LOM Scored,1-2-3,2&3,0-1 R,FU IP
0,1,Lawson,1.0,0.0,NaN,R,FB,Ball,NaN,NaN,...,NaN,0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Lawson,1.0,0.0,NaN,R,FB,Foul Ball,NaN,NaN,...,1.0,1-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Lawson,1.0,0.0,NaN,R,FB,Ball,NaN,NaN,...,NaN,1-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Lawson,1.0,0.0,NaN,R,SL,Strike-Take,NaN,NaN,...,1.0,2-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Lawson,1.0,0.0,NaN,R,SL,Ball,NaN,NaN,...,NaN,2-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
June7.columns

Index(['P #', 'Pitcher', 'Inning', 'Outs', '#', 'L/R', 'Pitch', 'S/B', 'Zone',
       'Result', 'E/DP', 'ER', 'R', 'RISP', 'Balls', 'Unnamed: 15', 'Strikes',
       'Ball', 'Strike', '1PK', 'Outs.1', 'pitch/ab', 'pitch/IP', 'A3P',
       '<=15', 'Strikes.1', 'COUNT', 'Unnamed: 27', 'P', 'LOM\nOut',
       'LOM Scored', '1-2-3', '2&3', '0-1 R', 'FU IP'],
      dtype='object')

In [158]:
June7 = June7.drop(columns=['#'])
June7 = June7.drop(columns= ['Unnamed: 15'])
June7 = June7.drop(columns=['Unnamed: 27'])

In [159]:
June7.columns

Index(['P #', 'Pitcher', 'Inning', 'Outs', 'L/R', 'Pitch', 'S/B', 'Zone',
       'Result', 'E/DP', 'ER', 'R', 'RISP', 'Balls', 'Strikes', 'Ball',
       'Strike', '1PK', 'Outs.1', 'pitch/ab', 'pitch/IP', 'A3P', '<=15',
       'Strikes.1', 'COUNT', 'P', 'LOM\nOut', 'LOM Scored', '1-2-3', '2&3',
       '0-1 R', 'FU IP'],
      dtype='object')

In [160]:
June7 = June7.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})

In [161]:
June7.columns

Index(['P_num', 'Pitcher', 'Inning', 'Outs', 'LR', 'Pitch', 'SB', 'Zone',
       'Result', 'E_DP', 'ER', 'R', 'RISP', 'Balls', 'Strikes', 'Ball',
       'Strike', 'One_PK', 'Outs_1', 'pitch_ab', 'pitch_IP', 'A3P', 'le15',
       'Strikes_1', 'COUNT', 'P', 'LOM_Out', 'LOM_Scored', 'one_two_three',
       'two_three', 'zero_one_R', 'FU_IP'],
      dtype='object')

In [162]:
June7 = June7.dropna(axis=1, how='all')

In [163]:
June7.columns

Index(['P_num', 'Pitcher', 'Inning', 'Outs', 'LR', 'Pitch', 'SB', 'Result',
       'R', 'Balls', 'Strikes', 'Ball', 'Strike', 'One_PK', 'Outs_1',
       'pitch_ab', 'pitch_IP', 'A3P', 'le15', 'Strikes_1', 'COUNT'],
      dtype='object')

In [164]:
June7['Date'] = '2025-06-07'
pd.to_datetime(June7['Date'], format='%Y-%m-%d')

0     2025-06-07
1     2025-06-07
2     2025-06-07
3     2025-06-07
4     2025-06-07
         ...
245   2025-06-07
246   2025-06-07
247   2025-06-07
248   2025-06-07
249   2025-06-07
Name: Date, Length: 250, dtype: datetime64[ns]

In [165]:
June7 = June7[['Date'] + [col for col in June7.columns if col != 'Date']]

In [167]:
June7 = June7.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK'])

In [168]:
June7.columns

Index(['Date', 'P_num', 'Pitcher', 'Inning', 'Outs', 'LR', 'Pitch', 'SB',
       'Result', 'R', 'Balls', 'Strikes', 'pitch_ab', 'pitch_IP', 'le15',
       'COUNT'],
      dtype='object')

In [169]:
June7 = June7.drop(columns=['le15'])

In [170]:
June7Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-7-2025 - Chart.csv')
June7Velo = June7Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June7merged = pd.merge(June7, June7Velo, on='Pitcher', how='left')

In [171]:
June7merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-7-2025_merged.csv', index=False)

In [185]:
May31 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/TomSox 5-31-2025- Chart (Dropdown).csv')

In [186]:
May31.columns

Index(['P #', 'Pitcher', 'Inning', 'Outs', '#', 'L/R', 'Pitch', 'S/B', 'Zone',
       'Result', 'E/DP', 'ER', 'R', 'RISP', 'Balls', 'Unnamed: 15', 'Strikes',
       'Ball', 'Strike', '1PK', 'Outs.1', 'pitch/ab', 'pitch/IP', 'A3P',
       '<=15', 'Strikes.1', 'COUNT', 'Unnamed: 27', 'P', 'LOM\nOut',
       'LOM Scored', '1-2-3', '2&3', '0-1 R', 'FU IP'],
      dtype='object')

In [187]:
May31 = May31.drop(columns=['#'])
May31= May31.drop(columns= ['Unnamed: 15'])
May31 = May31.drop(columns=['Unnamed: 27'])

In [188]:
May31 = May31.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})

In [189]:
May31 = May31.dropna(axis=1, how='all')

In [190]:
May31.columns

Index(['P_num', 'Pitcher', 'Inning', 'Outs', 'LR', 'Pitch', 'SB', 'Zone',
       'Result', 'E_DP', 'R', 'Balls', 'Strikes', 'Ball', 'Strike', 'One_PK',
       'Outs_1', 'pitch_ab', 'pitch_IP', 'A3P', 'le15', 'Strikes_1', 'COUNT'],
      dtype='object')

In [191]:
May31 = May31.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK', 'le15'])

In [192]:
May31['Date'] = '2025-05-31'
pd.to_datetime(May31['Date'], format='%Y-%m-%d')
May31 = May31[['Date'] + [col for col in June7.columns if col != 'Date']]

In [193]:
May31.head()

,Date,P_num,Pitcher,Inning,Outs,LR,Pitch,SB,Result,R,Balls,Strikes,pitch_ab,pitch_IP,COUNT
0,2025-05-31,1,Link,1.0,0.0,R,FB,Ball,NaN,NaN,0,0,1,1,0-0
1,2025-05-31,2,Link,1.0,0.0,R,NaN,Ball,NaN,NaN,1,0,1,2,1-0
2,2025-05-31,3,Link,1.0,0.0,R,NaN,Ball,HBP,NaN,2,0,1,3,2-0
3,2025-05-31,4,Link,1.0,0.0,R,FB,BIP,1B,NaN,0,0,1,4,0-0
4,2025-05-31,5,Link,1.0,0.0,R,SL,Ball,NaN,NaN,0,0,1,5,0-0

In [194]:
May31Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  5-31-2025 - Chart.csv')
May31Velo.head()

   # Pitcher  Inning  Outs  #.1 L/R Pitch  Unnamed: 7  Velocity  Spin Rate
0  1    Link     1.0   0.0  NaN   R    FB         1.0      90.0        NaN
1  2    Link     1.0   0.0  NaN   R    FB         1.0      90.0        NaN
2  3    Link     1.0   0.0  NaN   R    FB         1.0      90.0        NaN
3  4    Link     1.0   0.0  NaN   R    FB         1.0      87.0        NaN
4  5    Link     1.0   0.0  NaN   L    SL         3.0      79.0        NaN

In [195]:
May31Velo = May31Velo[['Pitcher', 'Velocity', 'Spin Rate']]

In [196]:
May31merged = pd.merge(May31, May31Velo, on='Pitcher', how='left')

In [197]:
May31merged.head()

,Date,P_num,Pitcher,Inning,Outs,LR,Pitch,SB,Result,R,Balls,Strikes,pitch_ab,pitch_IP,COUNT,Velocity,Spin Rate
0,2025-05-31,1,Link,1.0,0.0,R,FB,Ball,NaN,NaN,0,0,1,1,0-0,90.0,NaN
1,2025-05-31,1,Link,1.0,0.0,R,FB,Ball,NaN,NaN,0,0,1,1,0-0,90.0,NaN
2,2025-05-31,1,Link,1.0,0.0,R,FB,Ball,NaN,NaN,0,0,1,1,0-0,90.0,NaN
3,2025-05-31,1,Link,1.0,0.0,R,FB,Ball,NaN,NaN,0,0,1,1,0-0,87.0,NaN
4,2025-05-31,1,Link,1.0,0.0,R,FB,Ball,NaN,NaN,0,0,1,1,0-0,79.0,NaN

In [204]:
May31merged.to_csv('~/Downloads/Tomsox Data/TomSox 05-31-2025_merged.csv', index=False)

In [203]:
June1 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/TomSox 6-1-2025 - Chart (Dropdown).csv')
June1 = June1.drop(columns=['#'])
June1= June1.drop(columns= ['Unnamed: 15'])
June1 = June1.drop(columns=['Unnamed: 27'])  
June1 = June1.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})
June1 = June1.dropna(axis=1, how='all')
June1 = June1.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK', 'le15'])  
June1['Date'] = '2025-06-01'
pd.to_datetime(June1['Date'], format='%Y-%m-%d')
June1 = June1[['Date'] + [col for col in June7.columns if col != 'Date']]

June1Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-1-2025 - Chart.csv')
June1Velo = June1Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June1merged = pd.merge(June1, June1Velo, on='Pitcher', how='left')

June1merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-1-2025_merged.csv', index=False)

In [223]:
June3 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/ TomSox 6-3-2025 - Chart (Dropdown).csv')
June3 = June3.drop(columns=['#'])
June3= June3.drop(columns= ['Unnamed: 15'])
June3 = June3.drop(columns=['Unnamed: 27']) 
June3 = June3.drop(columns=['Unnamed: 10'])  
June3 = June3.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})
June3.columns

Index(['P_num', 'Pitcher', 'Unnamed: 2', 'Outs', 'LR', 'Pitch', 'SB', 'Zone',
       'Result', 'ER', 'R', 'RISP', 'Balls', 'Strikes', 'Ball', 'Strike',
       'One_PK', 'Outs_1', 'pitch_ab', 'pitch_IP', 'A3P', 'le15', 'Strikes_1',
       'COUNT', 'P', 'LOM_Out', 'LOM_Scored', 'one_two_three', 'two_three',
       'zero_one_R', 'FU_IP'],
      dtype='object')

In [224]:
cols_to_keep = ['R']
non_null_cols = June3.drop(columns=cols_to_keep).dropna(axis=1, how='all').columns

June3 = June3[cols_to_keep + list(non_null_cols)]

In [225]:
def move_column(df, col_name, new_index):
    cols = list(df.columns)
    cols.remove(col_name)
    cols.insert(new_index, col_name)
    return df[cols]

June3 = move_column(June3, 'R', 6)

In [226]:
June3 = June3.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK'])  
June3['Date'] = '2025-06-03'
pd.to_datetime(June3['Date'], format='%Y-%m-%d')
June3 = June3[['Date'] + [col for col in June3.columns if col != 'Date']]
June3.head()

,Date,P_num,Pitcher,Pitch,SB,Zone,Result,R,Balls,Strikes,pitch_ab,pitch_IP,COUNT
0,2025-06-03,1,Lawson,FB,Strike-Take,NaN,NaN,NaN,0,0,1,1,0-0
1,2025-06-03,2,Lawson,FB,Foul Ball,NaN,NaN,NaN,0,1,2,2,0-1
2,2025-06-03,3,Lawson,FB,Ball,NaN,NaN,NaN,0,2,3,3,0-2
3,2025-06-03,4,Lawson,CH,Ball,NaN,NaN,NaN,1,2,4,4,1-2
4,2025-06-03,5,Lawson,CB,Ball,NaN,NaN,NaN,2,2,5,5,2-2

In [ ]:
June3Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-3-2025 - Chart.csv')
June3Velo = June3Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June3merged = pd.merge(June3, June3Velo, on='Pitcher', how='left')

June3merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-3-2025_merged.csv', index=False)

In [234]:
June6 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/TomSox 6-6-2025 - Chart (Dropdown).csv')
June6 = June6.drop(columns=['#'])
June6= June6.drop(columns= ['Unnamed: 15'])
June6 = June6.drop(columns=['Unnamed: 27'])  
June6 = June6.drop(columns=['Unnamed: 10']) 
June6 = June6.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})
June6 = June6.dropna(axis=1, how='all')
June6 = June6.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK'])  
June6['Date'] = '2025-06-06'
pd.to_datetime(June6['Date'], format='%Y-%m-%d')
June6 = June6[['Date'] + [col for col in June6.columns if col != 'Date']]

June6.head()

,Date,P_num,Pitcher,Outs,Pitch,SB,Result,R,Balls,Strikes,pitch_ab,pitch_IP,COUNT
0,2025-06-06,1,Link,0.0,FB,Ball,NaN,NaN,0,0,1,1,0-0
1,2025-06-06,2,Link,0.0,FB,Ball,NaN,NaN,1,0,2,2,1-0
2,2025-06-06,3,Link,0.0,FB,Strike,NaN,NaN,2,0,3,3,2-0
3,2025-06-06,4,Link,0.0,FB,Foul Ball,NaN,NaN,2,1,4,4,2-1
4,2025-06-06,5,Link,0.0,SL,Foul Ball,NaN,NaN,2,2,5,5,2-2

In [235]:
June6Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-6-2025 - Chart.csv')
June6Velo = June1Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June6merged = pd.merge(June6, June6Velo, on='Pitcher', how='left')

June6merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-6-2025_merged.csv', index=False)

In [243]:
June10 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/ TomSox 6-10-2025 - Chart (Dropdown).csv')
June10 = June10.drop(columns=['#'])
June10= June10.drop(columns= ['Unnamed: 15'])
June10 = June10.drop(columns=['Unnamed: 27'])  
June10 = June10.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})
June10 = June10.dropna(axis=1, how='all')
June10 = June10.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK'])  
June10['Date'] = '2025-06-10'
pd.to_datetime(June10['Date'], format='%Y-%m-%d')
June10 = June10[['Date'] + [col for col in June10.columns if col != 'Date']]

June10Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-10-2025 - Chart.csv')
June10Velo = June1Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June10merged = pd.merge(June10, June10Velo, on='Pitcher', how='left')

June10merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-10-2025_merged.csv', index=False)

In [249]:
June11 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/TomSox 6-11-2025 - Chart (Dropdown).csv')
June11 = June11.drop(columns=['#'])
June11= June11.drop(columns= ['Unnamed: 15'])
June11 = June11.drop(columns=['Unnamed: 27'])  
June11 = June11.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})
June11 = June11.dropna(axis=1, how='all')
June11 = June11.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK', 'le15'])  
June11['Date'] = '2025-06-11'
pd.to_datetime(June11['Date'], format='%Y-%m-%d')
June11 = June11[['Date'] + [col for col in June11.columns if col != 'Date']]

June11Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-11-2025 - Chart.csv')
June11Velo = June11Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June11merged = pd.merge(June11, June11Velo, on='Pitcher', how='left')

June11merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-11-2025_merged.csv', index=False)

In [251]:
June12 = pd.read_csv('~/Downloads/Tomsox Data/Pitching Charts/ TomSox 6-12-2025 - Chart (Dropdown).csv')
June12 = June12.drop(columns=['#'])
June12= June12.drop(columns= ['Unnamed: 15'])
June12 = June12.drop(columns=['Unnamed: 27'])  
June12 = June12.rename(columns={ 
    'S/B' : 'SB',
    '<=15' : 'le15',
    'Strikes.1' : 'Strikes_1',
    'P #': 'P_num',
    'L/R':'LR',
    'E/DP' : 'E_DP',
    '1PK': 'One_PK',
    'Outs.1':'Outs_1',
    'pitch/ab':'pitch_ab',
    'pitch/IP':'pitch_IP',
    'LOM\nOut':'LOM_Out',
    'LOM Scored':'LOM_Scored',
    '1-2-3':'one_two_three',
    '2&3':'two_three',
    '0-1 R':'zero_one_R',
    'FU IP':'FU_IP'
})
June12 = June12.dropna(axis=1, how='all')
June12 = June12.drop(columns=['Ball', 'Strike', 'A3P', 'Outs_1', 'Strikes_1', 'One_PK', 'le15'])  
June12['Date'] = '2025-06-12'
pd.to_datetime(June12['Date'], format='%Y-%m-%d')
June12 = June12[['Date'] + [col for col in June12.columns if col != 'Date']]

June12Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-12-2025 - Chart.csv')
June12Velo = June11Velo[['Pitcher', 'Velocity', 'Spin Rate']]
June12merged = pd.merge(June12, June12Velo, on='Pitcher', how='left')

June12merged.to_csv('~/Downloads/Tomsox Data/TomSox 6-12-2025_merged.csv', index=False)